%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "sample app", '#', id: "logo"
    %nav
      %ul.nav.navbar-nav.pull-right
        %li= link_to "Home",   '#'
        %li= link_to "Help",   '#'
        <li"user_nav">
        - if user_signed_in?
          Signed in as #{current_user.email}
          \#{link_to 'Sign out', destroy_user_session_path}
        - else
          = link_to 'Register', new_user_registration_path
          or #{link_to 'Sign in', new_user_session_path}
