    <div class="off-canvas-wrap docs-wrap" data-offcanvas="">
      <div class="inner-wrap">

      <!-- header section start here -->

        <%= render 'layouts/header' %>

        
        <section class="inner_grey_bg">
          
          <div class="row">
            <div class="checkout_section left">
              <div class="large-12 columns">
                <% if params[:bet_id].present? %>
                  <h1>Checkout(<%=Bet.find(params[:bet_id]).description%>)</h1>
                <% else %>  
                  <h1>Checkout(<%=Appeal.find(params[:appeal_id]).description%>)</h1>
                <% end %>
              </div>
              <div class="large-8 medium-7 small-12 columns">
                <div class="checkout_left_section left">
                  <div class="checkout_pro_info left">  
                    <% if params[:bet_id].present? %>
                      <span class="checkout_pro_img"><img src="/images/bet/<%=CharityMedia.find_by_charityusersquare_id(params[:bet_id]).picture%>.jpg" style="height:70px;width:70px;"></span>
                      <h1><%= Bet.find(params[:bet_id]).name %></h1>
                    <% else %>
                      <span class="checkout_pro_img"><img src="/images/appeal/<%=CharityMedia.find_by_charityusersquare_id(params[:appeal_id]).picture%>.jpg" style="height:70px;width:70px;"></span>
                      <h1><%= Appeal.find(params[:appeal_id]).name %></h1>
                    <% end %>
                   <!--  <span class="checkout_pro_size">Size: </span>
                    <span class="checkout_pro_Quantity">Quantity: </span> -->
                  </div>
                  <div class="checkout_sold_out left">
                    <div class="checkout_sold_out_list left">
                      <span class="sold_by_check_out left">Sold by</span>
                      <% if params[:bet_id].present? %>
                        <span class="charity_check_out left"><%=User.find(Bet.find(params[:bet_id]).user_id).firstname %>   
                          <span style="margin-left:10px;"><%= mail_to User.find(Bet.find(params[:bet_id]).user_id).email, image_tag("/assets/email_icon.png") %>
                          </span>
                        </span>
                      <% else %>
                        <span class="charity_check_out left"><%=User.find(Appeal.find(params[:appeal_id]).user_id).firstname %>   
                          <span style="margin-left:10px;"><%= mail_to User.find(Appeal.find(params[:appeal_id]).user_id).email, image_tag("/assets/email_icon.png") %>
                          </span>
                        </span>
                      <% end %>  
                    </div> 

                    <div class="checkout_sold_out_list checkout_sold_out_list_price text-right right">
                      <span class="sold_by_check_out left">Item price</span>
                      <span class="charity_check_out left">£<%= params[:amount]%></span> 
                    </div>  
                  </div> 
                  <div class="checkout_delivery_outer left">
                    <div class="large-6 medium-6 small-12 left">
                      <!-- <span class="filters_radio communication_email_html_radio checkout_delivery_radio  left"> -->
                        <!-- <input type="radio" name="radio"> -->
                        <!-- <span class="filters_radio_checked"></span> -->
                        <!-- <span class="filters_radio_checked_text">Delivery item to</span>  -->
                      <!-- </span> -->
                      <p>
                   <!--      John Doe<br>
                        1 Street<br>
                        London<br>
                        123 ABC<br>
                        UK -->
                      </p>
                    </div>
                    <div class="large-6 medium-6 small-12 left">
                      <!-- <span class="filters_radio communication_email_html_radio checkout_delivery_radio  left"> -->
                        <!-- <input type="radio" name="radio"> -->
                        <!-- <span class="filters_radio_checked"></span> -->
                        <!-- <span class="filters_radio_checked_text">Pick up item at</span>  -->
                      <!-- </span> -->
                      <p>
                        <!-- Charity’s Address<br>
                        1 Street<br>
                        London<br>
                        123 ABC<br>
                        UK -->
                      </p>
                    </div>
                    <span class="checkout_change_address left">
                      <!-- <a href="#">Change address</a> -->
                    </span>
                    <div class="checkout_sold_out left">
                      <div class="checkout_sold_out_list checkout_estimated left">
                     <!--    <span class="sold_by_check_out left">Estimated arrival between</span>
                        <span class="charity_check_out left">Mon. 1 June — Wed. 3 June</span> -->
                      </div> 

                      <div class="checkout_sold_out_list checkout_sold_out_list_price checkout_estimated_elivery text-right right">
                <!--         <span class="sold_by_check_out left">Delivery</span>
                        <span class="charity_check_out left">£3.00</span> -->
                      </div>  
                    </div>
                  </div>
                    <div class="supporting_charity_outer left">
                      <% if params[:bet_id].present? %>
                        <span class="my_squre_charity_img supporting_charity left" style="background-image:url('<%=User.find(Bet.find(params[:bet_id]).user_id).picture%>');background-size:cover;"></span>
                      <% else %>
                        <span class="my_squre_charity_img supporting_charity left" style="background-image:url('<%=User.find(Appeal.find(params[:appeal_id]).user_id).picture%>');background-size:cover;"></span>
                      <% end %>  
                      <span class="color_grey font-size_supporting left">Supporting Charity</span>
                      <% if params[:bet_id].present? %>
                        <span class="grey_dark_color font-size_charity left"><%=User.find(Bet.find(params[:bet_id]).user_id).firstname%></span>
                      <% else %>  
                        <span class="grey_dark_color font-size_charity left"><%=User.find(Appeal.find(params[:appeal_id]).user_id).firstname%></span>
                      <% end %>
                    </div>   
                </div>
                <div class="checkout_promocode_button right">
                 <!--  <input type="text" placeholder="Promo code?">
                  <button>apply</button> -->
                </div>
              </div>
              <div class="large-4 medium-5 small-12 columns">
                <div class="checkout_section_right left">
                  <h1>Summary</h1>
                  <table>
                    <tr>
                      <td>Subtotal:</td>
                      <td class="text-right">£<%= params[:amount]%></td>
                    </tr>
                    <tr>
                      <td>Delivery:</td>
                      <!-- <td class="text-right">£3.00</td> -->
                    </tr>
                    <tr>
                      <td>Promotion:</td>
                      <td class="text-right">£0.00</td>
                    </tr>
                    <tr style="height:20px;"></tr>
                    <tr>
                      <td>
                      <span class="filters_checkbox left">
                        <!-- <input type="checkbox"> -->
                        <!-- <span class="filters_checked"></span> -->
                        <!-- <span class="filters_checked_text account_setting_address_check checkout_section_right_check_text ">Giftaid</span> --> 
                      </span>
                        <!-- <span class="check_out_gifted_right">Lorem ipsum dolor sit amet.</span> -->
                      </td>
                      <td class="text-right">£0.00</td>
                    </tr>
                    <tr style="height:20px;"></tr>
                    <tr>
                      <td colspan="2" class="text-right">
                        <span class="checkout_summery_total left">Total:</span>
                        <span class="checkout_summery_total_price left">£<%=params[:amount]%></span>
                      </td>
                    </tr>
                  </table>
                  <div class="checkout_summery_button">
                    <span class="left checkout_summery_button_img">
                      <%= image_submit_tag("paypal.png") %>
                    </span>
                    <!-- <button class="right">   -->
                    <% if params[:bet_id].present? %>
                      <%= link_to "continue to paypal", pay_path(:price => params[:amount], :charitytype => "Bets", :bet_id => params[:bet_id].to_i, :user_id => params[:user_id]), :class=> "checkout_button right" %>  
                    <%else%>
                      <%= link_to "continue to paypal", pay_path(:price => params[:amount], :charitytype => "Appeal", :appeal_id => params[:appeal_id].to_i, :user_id => params[:user_id]), :class=> "checkout_button right" %>
                    <%end%>  

                    <!-- </button> -->
                    <!-- <button class="right">continue to paypal</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        <%= render "layouts/footer" %>   
      </div>
    </div>

<style>
 .checkout_button {
    background-color: transparent !important;
    border: 1px solid #0000ff !important;
    border-radius: 4px !important;
    color: #0000ff !important;
    float: left !important;
    font-family: "dinmedium" !important;
    font-size: 18px !important;
    margin-left: -1px !important;
    margin-top: 20px !important;
    padding: 12px 20px 13px !important;
}
</style>