= javascript_include_tag :defaults, "nested_form"
%section#course-content
  %section#ruby
    %section.detailed-syllabus
      .wrapper-inside
        = form_for @registration, html: { class: "basic-grey" } do |f|
          - if @registration.errors.any?
            #error_explanation
              %h2
                = pluralize(@registration.errors.count, "error")
                prohibited this registration from being saved:
              %ul
                - @registration.errors.full_messages.each do |message|
                  %li= message
          .field
            = f.hidden_field :course_id, value: @course.id
          .field
            = f.label :full_name
            = f.text_field :full_name
          .field
            = f.label :company
            = f.text_field :company
          .field
            = f.label :email
            = f.text_field :email
          .field
            = f.label :telephone
            = f.text_field :telephone

          .field.payment_method
            = label_tag :payment_method
            = radio_button_tag :payment_method, "paypal"
            = image_tag "ppcom.svg"
            = radio_button_tag :payment_method, "card", checked: true
            = image_tag "credit-card.jpg", style: "max-width: 100px;"

          .field
            = f.label :first_name
            = f.text_field :first_name
          .field
            = f.label :last_name
            = f.text_field :last_name
          .field
            = f.label :card_type
            = f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]]
          .field
            = f.label :card_number
            = f.text_field :card_number
          .field
            = f.label :card_verification, "Card Verification Value (CVV)"
            = f.text_field :card_verification
          .field
            = f.label :card_expires_on
            = f.date_select :card_expires_on, discard_day: true, start_year: Date.today.year, end_year: (Date.today.year+10), add_month_numbers: true
           

          


          .actions
            = f.submit "Registration Payment", class: "btn", style: "color: white;background: rgb(242, 118, 73);"
